<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head') %>
    <title>Document</title>
</head>

<body>
    <div class="background-image "><img src="images/37945.jpg" alt="image">
        <div class="container-fluid p-0"></div>
    </div>
</body>

</html>