.span-buttons-validation,
.span-validation{
    display: none;
}

textarea {
    resize: none;
}
.group{
    margin: 30px 0;
}
span{
    text-align: right;
    font-size: smaller;
    color: #ff0000;
}